{{ 'section-upng-my-account-menu.css' | asset_url | stylesheet_tag }}

{%- if section.settings.menu != blank -%}
  <div class="page-width">
    <ul class="area-menu-list">
      {%- for link in section.settings.menu.links -%}
        {% # Restricciones de páginas solo pra usuarios b2b %}
        {% if customer.b2b? or link.object.metafields.upng.solo_b2b != true %}
          {% # Restricciones de páginas por grupos %}
          {% if link.object.metafields.upng.grupo_clientes == blank
            or customer.tags contains link.object.metafields.upng.grupo_clientes
          %}
            <li>
              <a href="{{ link.url }}" class="area-menu-item {% if link.active %} area-menu-item-active{% endif %}">
                {%if link.object.metafields.upng.icono != blank %} {{ link.object.metafields.upng.icono | img_tag }} {% endif %}
                <span>{{ link.title }}</span>
              </a>
            </li>
          {% endif %}
        {% endif %}
      {%- endfor -%}
      <li>
        {% # Close session button %}
        <a href="{{ routes.account_logout_url }}">
          <svg width="30" height="40" viewBox="0 0 30 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0.5H29.5V3.5H3V36.5H29.5V39.5H0V0.5Z" fill="#384428"/>
            <path d="M22.8839 21.2424H6.5V17.7576H22.8839L18.6253 13.4641L21.0693 11L29.5 19.5L21.0693 28L18.6253 25.5359L22.8839 21.2424Z" fill="#384428"/>
          </svg>
          <span>{{ 'customer.log_out' | t }} </span>
        </a>
      </li>
    </ul>
  </div>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.upng-my-account-menu.name",
  "tag": "section",
  "class": "page-width upng-my-account-menu",
  "settings": [
    {
      "type": "link_list",
      "label": "t:sections.upng-my-account-menu.settings.menu.label",
      "id": "menu"
    }
  ]
}
{% endschema %}
